@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* comun Styles */

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}

.box-title {
  border: 1px solid #ebebeb;
  padding: 20px 60px 20px 60px;
  background-color: #fff;
}

/*--------------*/

/*Navegation and slider*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.phone {
  display: none;
}

.nav {
  position: fixed;
  background-color: #222;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav ul li a.resalt {
  color: #c0392b;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.logo {
  width: 100px;
  height: 40px;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.slider {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  display: flex;
  position: relative;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.title-container h1 {
  font-weight: 200;
  font-size: 64px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.title-container p {
  font-weight: 500;
  font-size: 20px;
}

.button {
  margin-top: 40px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px 40px 20px 40px;
  transition: all .3s ease-in-out;
}

.bblack {
  margin: 0px 0px 75px 0px;
  border: 1px solid black;
  color: black;
}

.button:hover {
  background-color: #c03a2baf;
  border: 1px solid #c03a2baf;
}

/*Article 1 - Small enterprise description*/

.about {
  background-color: #eef1f2;
  /*
  display: flex;
  width: 100vw;
  justify-content: center;
  */
  padding: 80px;
}

.articl {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.articl article {
  display: flex;
  flex: 50%;
  padding: 40px;
  min-width: 560px;
  min-height: 500px;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
}

.title-article {
  font-size: 38px;
  font-weight: 600;
}

.p-article {
  line-height: 24px;
  margin-top: 20px;
}

.cajaimg {
  flex: 50%;
  min-width: 560px;
  min-height: 500px;
  border: solid #000 5px;
  margin-left: 70px;
}

.cajaimg img {
  position: absolute;
  margin-left: -80px;
  width: 540px;
  height: 480px;
  padding: 20px;
}

/*Services*/

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.title-section {
  font-size: 48px;
  font-weight: 800;
}

.img-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
}

.service {
  display: flex;
  flex-direction: column;
}

.service img {
  width: 256px;
  height: 256px;
  max-width: 100%;
  object-fit: cover;
}

.bg-gray {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service .bg-gray {
  width: 256px;
  height: 56px;
  background-color: #eef1f2;
  text-align: center;
  padding: 5px;
}

/* Last works */

.last-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef1f2;
}

.last-work {
  display: flex;
  width: 90vw;
}

.work {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.work h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.work.active {
  flex: 5;
}

.work.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .last-work {
    width: 100%;
  }

  .work:nth-of-type(4),
  .work:nth-of-type(5) {
    display: none;
  }
}
/*----------------------------------------*/

/* Pie de p치gina*/

footer {
  background-color: #23252d;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 280px;
  margin: 0 auto;
}

.logo {
  flex-basis: 30%;
}

.logo img {
  width: 158px;
  height: 68px;
}

.contact {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h4 {
  color: #fff;
  font-size: 24px;
  padding: 15px;
}

.contact ul {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.contact ul li {
  padding: 0.5rem;
}

/*----------------------------------------*/

/* Css page Services*/

#head-service {
  display: flex;
  position: relative;
  height: 500px;
  background-image: url("img/cabecera_servicios.jpg");
  background-position: 50%;
}

/*Comun css head for "servicios", "trabajos" y "contacto"*/
.title-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.title-second > * {
  margin: 0px 50% 0px 20%;
}

.title-second h1 {
  font-weight: 200;
  font-size: 52px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.title-second p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 25px;
}
/* END -> Comun css head for "servicios", "trabajos" y "contacto"*/

.servi {
  display: flex;
  max-width: 1200px;
  margin: 5% auto;
  flex-direction: column;
}

.servi-img {
  display: flex;
  height: 420px;
}

.img-01 {
  background-image: url("img/pag_service_01.jpg");
  background-repeat: no-repeat;
}

.img-02 {
  background-image: url("img/pag_service_02.jpg");
  background-repeat: no-repeat;
}

.img-03 {
  background-image: url("img/pag_service_03.jpg");
  background-repeat: no-repeat;
}

.img-04 {
  background-image: url("img/pag_service_04.jpg");
  background-repeat: no-repeat;
}

.img-05 {
  background-image: url("img/pag_service_05.jpg");
  background-repeat: no-repeat;
}

.img-06 {
  background-image: url("img/pag_service_06.jpg");
  background-repeat: no-repeat;
}

.servi-description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.margin-left {
  margin-left: 20%;
}

.margin-right {
  margin-right: 20%;
}

.img-right {
  background-position: 100%;
}

.servi-description h2 {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.servi-description p {
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: solid 1px #23252d;
}

/*----------------------------------------*/

/* Css page works*/

#head-works {
  display: flex;
  position: relative;
  height: 500px;
  background-image: url("img/cabecera_trabajos.jpg");
  background-position: 50%;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-work {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0.1 1 auto;
  margin: 10px;
  background-repeat: no-repeat;
  width: 415px;
  height: 520px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.work-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  top: 0;
  transform: translateY(-101%);
  width: 415px;
  height: 520px;
  z-index: 1;
  background: rgb(218, 218, 218, .5);
  transition: transform .5s ease-in-out;
}

.work-description .modal-text {
  flex-basis: 50%;
  padding: 25px;
}

.work-description .modal-text h3 {
  margin-bottom: 15px;
}

.work-description > i:hover {
  color: #c0392b;
  transition: all .3s ease-in-out;
}

.portfolio-work:hover > div{
  opacity: 1;
  cursor: pointer;
  transform: translateY(0);
}

@media screen and (max-width:768px) {
  .portfolio-work {
    width: 355px;
    height: 454px;
    background-position: center;
  }

  .work-description .modal-text {
    display: none;
  }

  .work-description {
    transform: translateY(0%);
    width: 65px;
    height: 65px;
    border-radius: 0 0 25% 0;
  }

  .work-description > i.fa-5x {
    font-size: 3rem;
  }
}

.work-img-01 {
  background-image: url("img/work_01.jpg");
}
.work-img-02 {
  background-image: url("img/work_02.jpg");
}
.work-img-03 {
  background-image: url("img/work_03.jpg");
}
.work-img-04 {
  background-image: url("img/work_04.jpg");
}
.work-img-05 {
  background-image: url("img/work_05.jpg");
}
.work-img-06 {
  background-image: url("img/work_06.jpg");
}
.work-img-07 {
  background-image: url("img/work_07.jpg");
}
.work-img-08 {
  background-image: url("img/work_08.jpg");
}

/*Modal Window*/
.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40%;
  min-width: 530px;
  height: 605px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 5px;
  transition: transform 1s;
  transform: translateY(0);
}

.modal-img {
  display: flex;
  width: 415px;
  height: 530px;
  overflow: hidden;
  margin-left: 0;
}

.modal-img > img {
  width: 415px;
  height: 530px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 355px;
    height: 430px;
    min-width: 355px;
  }

  .modal-img, .modal-img > img {
    width: 275px;
    height: 352px;
  }
}

.modal-close {
  transform: translateY(-200%);
}

.close {
  align-self: flex-end;
  font-size: 1.3rem;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  background-color: red;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: normal;
  cursor: pointer;
}

.modal-text > * {
  padding: 2px;
}

.modal-button {
  position: absolute;
  display: flex;
  width: 100%;
  top: 42%;
  justify-content: space-between;
  padding: 0 5px;
}

.modal-button .left, .modal-button .right {
  color: lightgray;
  transition: color .5s ease;
}

.modal-button .left:hover, .modal-button .right:hover {
  color: #c0392b;
}

/*----------------------------------------*/

/* Css page Contact*/

#head-contact {
  display: flex;
  position: relative;
  height: 500px;
  background-image: url("img/cabecera_contacto.jpg");
  background-position: 50%;
}

.contact-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: 740px;
}

.form-container {
  position: relative;
  flex: 70%;
}

form {
  padding: 40px;
  background-color: #eef1f2;
}

.form-control {
  position: relative;
  margin: 20px 80px 40px 0px;
}

.form-control input,
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px rgb(0, 0, 0) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #fff;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(165, 165, 165);
  transform: translateY(-30px);
}

.btn {
  margin-right: 0;
  cursor: pointer;
  width: 30%;
  color: #fff;
  background: #23252d;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.box-dates {
  flex: 30%;
  z-index: 0;
}

.box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  height: 400px;
  padding: 40px;
  margin-left: -100px;
  margin-top: 50%;
  box-shadow: 0 10px 30px 0 rgb(50 50 50 / 16%);
}

/***** Adaptative Mobile *****/

@media (max-width: 767px) {
  .nav .logo {
    font-size: 14px;
  }

  .logo {
    width: 158px;
  }

  .nav ul {
    font-size: 7px;
  }

  .title-container h1, .title-second h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .title-container p, .title-second p {
    font-size: 18px;
    margin: 0 10%;
    text-align: center;
  }

  .title-second > * {
    margin: 0 auto;
  }

  .about {
    padding: 10px;
  }

  .articl {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .articl article {
    min-width: 100%;
  }
  .articl article h2 {
    font-size: 24px;
    text-align: center;
  }

  .articl article p {
    font-size: 18px;
  }

  .cajaimg {
    flex: 100%;
    min-width: 100%;
    min-height: 290px;
    height: auto;
    margin-left: 0;
  }
  .cajaimg img {
    margin-left: 0;
    width: 345px;
    height: auto;
    padding: 10px;
  }

  .margin-top-80 {
    margin-top: 0;
  }

  .title-section {
    font-size: 24px;
  }

  .last-works {
    padding: 10px;
  }

  .work.active {
    flex: 2;
  }

  .work {
    height: 40vh;
  }

  .work h3 {
    font-size: 14px;
  }

  /* Menu mobile */
  .nav {
    display: none;
  }
  .phone {
    display: block;
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 999;
  }
  
  #mobil ul {
    background-color: #fff;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
  }
  
  #mobil li {
    color: #777;
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  #mobil ul li a {
    color: #777;
    cursor: pointer;
  }
  
  #mobil ul li p {
    font-size: 12px;
    margin: 2px 0;
  }
  
  #mobil ul li a:hover,
  #mobil ul li a.active {
    color: #c0392b;
  }
  /* */

  /*-------P치gina servicios--------*/
  .margin-left, .margin-right {
    margin: 0 10%;
  }

  .servi-img, .servi-img.img-right {
    background-position: center;
    background-size: contain;
  }

  .servi-description h2 {
    font-size: 24px;
  }

  .servi-description p {
    font-size: 18px;
    line-height: 24px;
  }

  .services, #portfolio {
    padding: 10px;
  }

  .box-title {
    margin-bottom: 10px;
  }

  .padding-top-80 {
    padding: 0;
  }

  .servi-img {
    height: 220px;
  }
   /*-------------------------------*/

   /*-------P치gina trabajos--------*/
    .margin-bottom-80 {
      margin-bottom: 0;
    }
   /*-------------------------------*/

   /*-------P치gina contacto--------*/
    #form {
      text-align: center;
    }

   .contact-container {
     flex-direction: column;
   }

   .box-info {
     margin-left: 0;
     margin-top: 0;
   }

   .box-info .box-title {
     text-align: center;
   }
 /*-------------------------------*/

   /*----------footer-------------*/
    .foot-container .logo {
      margin-top: 20px;
    }

    .foot-container {
      flex-direction: column;
    }
  
    .foot-container .contact {
      margin-top: 20px;
      margin-bottom: 20px;
    }
   /*-----------------------------*/
}

